<html lang="ko">
<head>
<META charset="UTF-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<script type="text/javascript" src="static/lib/jquery-1.8.0.min.js" ></script>
<script type="text/javascript" src="static/lib/jui/js/core.min.js" ></script>
<script type="text/javascript" src="static/lib/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="static/lib/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<link rel="stylesheet" href="static/index.css" />

<script>
   
	var _ = jui.include("util.base");

	$(function() {

         
		$(".summary-box:not(.back)").on("mouseover", function(e) {
			if($(e.target).hasClass("btn")) return;

			var index = $(this).data("index"),
				$target = $(".back[data-index=" + index + "]");

			$(this).hide();
			$target.show().addClass("flipInY animated");

			setTimeout(function() {
				$target.removeClass("flipInY animated");
			}, 1000);

			$(".summary-box").each(function(i) {
				var targetIndex = $(this).data("index");

				if(index != targetIndex) {
					if($(this).hasClass("back")) {
						$(this).hide();
					} else {
						$(this).show();
					}
				}
			});

            $(".detail_link").fancybox({
				'width'		    	: '90%',
				'height'			: '90%',
				'autoScale'			: true,
				'transitionIn'		: 'elastic',
				'transitionOut'		: 'elastic',
				'type'				: 'iframe'
			});

		});
	});
</script>
</head>
<body>
    <div class="homecontent" id="homecontent">
        <div id="logo">
            이타카 (Ithaca)
        </div>
        <div id="header">
            <p>이타카 (Ithaca)<a href="" target="_blank"></a></p></div>
        <center>
            <div class="text">
                <h1><br>이타카 (Ithaca)<br>
                    IoT / AI 이용한 탄소세 블록체인 웹플랫폼</h1>
                <h2>탄소세에 대한 모든 처리를 한번에 끝내기</h2>
            </div>
            <div class="item">
                <div class="summary">
                    <div class="summary-box" data-index="0" style="left: 0px;">
                        <div class="summary-normal">
                            <div class="imagesfield"><img alt="기업" src="static/images/thumb1.png"></div>
                            <div class="summary-info">
                                <div class="title">기업</div>
                                <div class="content">탄소배출량 통제 / 모니터링</div>
                            </div>
                        </div>
                    </div>
                    <div class="summary-box back" data-index="0"  style="left: 0px;">
                        <div class="summary-hover" style="background-color:#814fd5">
                            <div class="info">#1</div>
                            <div class="title">기업</div>
                            <div class="content">
                                - 탄소배출량 모니터링하기<br/>
                                - 탄소배출량 통제하기<br/>
                            </div>
                             <a href="https://co2bot.run.goorm.io/producer?company=한국지역난방공사" class="btn btn-default detail_link">한국지역난방공사</a>
							<br/>
							<br/>
							<a href="https://co2bot.run.goorm.io/producer?company=서울도시가스" class="btn btn-default detail_link">서울도시가스</a>
                        </div>
                    </div>
                    <div class="summary-box" data-index="1" style="left: 258px;">
                        <div class="summary-normal">
                            <div class="imagesfield"><img alt="ngo" src="static/images/thumb2.png" ></div>
                            <div class="summary-info">
                                <div class="title">환경단체(NGO)</div>
                                <div class="content">탄소배출량/탄소세 모니터링
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="summary-box back" data-index="1" style="left: 258px;">
                        <div class="summary-hover2" style="background-color:#ffcb2b">
                            <div class="info">#2</div>
                            <div class="title">환경단체(NGO)</div>
                            <div class="content">
                                - 탄소배출량 모니터링하기<br/>
                                - 탄소세 모니터링하기
                            </div>
                            <a href="https://co2bot.run.goorm.io/ngo?company=그린피스" class="btn btn-default detail_link">그린피스</a>
							<br/>
							<br/>
							<a href="https://co2bot.run.goorm.io/ngo?company=납세연맹" class="btn btn-default detail_link">납세자연맹</a>
                        </div>
                    </div>
                   <div class="summary-box" data-index="2" style="left: 516px;">
                       <div class="summary-normal">
                            <div class="imagesfield"><img alt="정부 썸네일" src="static/images/thumb3.png" ></div>
                           <div class="summary-info">
                               <div class="title">정부</div>
                               <div class="content">
                                탄소세 부과 및 모니터링 / 패널티 부여 
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="summary-box back" data-index="2" style="left: 516px;">
                       <div class="summary-hover" style="background-color:#1abc9c">
                           <div class="info">#3</div>
                           <div class="title">정부<br></div>
                           <div class="content">
                            - 탄소세 부과 / 모니터링<br/>
                            - 탄소 배출량 패널티 부여하기
                           </div>
                           <a href="https://co2bot.run.goorm.io/public?company=국세청" class="btn btn-default detail_link">국세청</a>
						   <br/>
						   <br/>
						   <a href="https://co2bot.run.goorm.io/public?company=환경부" class="btn btn-default detail_link">환경부</a>
                       </div>
                   </div>
                </div>
            </div>
        </center>
    </div>
    <div id="footer" style="bottom: 0px;">
        <style>
			#footer {
				display: flex;justify-content:center;
			}
			#footer img {
				height: 50px !important;
			}
            #fancybox-content {
                min-height: 80vh !important;
            }
		</style>
		<img src="static/images/ibm_footer.png">
   </div>

    <div id="popupcontent">
        <iframe width="100%" height="100%" frameborder="0" framespacing="0" marginheight="0" marginwidth="0" scrolling="no" vspace="0"></iframe>
    </div>
</body>
</html>


